*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: clip;
}

/* nav section */
nav{
    background-color: #1a197b;
}
.nav-img{
    padding: 10px;
    width: 200px;
    cursor: pointer;
}
@media only screen and (min-width: 1200px){
    .nav-img{
        margin-left: 180px;
    }
}
@media only screen and (max-width: 1200px){
    .nav-img{
        margin-left: 100px;
    }
}
@media only screen and (max-width: 1100px){
    .nav-img{
        margin-left: 0px;
    }
}
.src-bar{
    border-radius: 10px;
    border: none;
}
.nav-div{
    justify-content: space-evenly;
    align-items: center;
}
/* nav bar done */

/* slider section */
.slides{
    background-image: url(./images/bg.jpg), 
    linear-gradient(to bottom, rgba(31, 81, 255,0.2), rgba(93, 63, 211,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.slide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 20px;
}

.left-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50px;
}
.texts{
    margin-left: 90px;
    margin-right: 90px;
    line-height: normal;
}
.title{
    font-size: 65px;

}
.buttons{
    margin: 20px;
    margin-left: 90px;
}
button{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a197b;
    color: #fff;
    cursor: pointer;
}
/* second slide image */
.image2{
    width: 500px;
    height: 500px;
    padding-top: 100px;
    padding-left: 50px;
}

@media only screen and (max-width: 600px){
    .slide{
        flex-direction: column;
    }
    .buttons{
        display: none;
    }
    .title{
        font-size: 30px;
    }
    .texts{
        font-size: 20px;
        line-height: 7px;
        text-align: center;
        padding-left: -20px;
    }
    .slides p{
        line-height: normal;
    }

    .left-side{
        margin-left: 0px;
    }
    .image1{
        margin-left: 130px;
    }
    .image2{
        width: 400px;
        padding-top: 20px;
        padding-left: 90px;
    }
}

/* * on display products section */

.left-pr{
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}
.left-top{
    background-color: #fff;
    height: 60vh;
}
@media only screen and (max-width: 600px){
    .left-top{
        height: 350px;
    }
}

.left-top img{
    width: 350px;
    padding: 15px;
    margin-left: -60px;
}
.left-down img{
    width: 200px;
    padding: 15px;
    margin-left: -10px;
    margin-top: 10px;
}

.left-down{
    background-color: #adc3d6;
}

.right-pr{
    background-color: #edecec;
    padding-top: 60px;
    position: relative;
}

.right-pr img{
    width: 800px;
    padding: 15px;
    position: absolute;
    margin-top: -300px;
    margin-left: -100px;
}


 /* *Browse by category section */

 .catagory{
    height: 420px;
    background-color: #fbfbfa;
    font-size: 18px;
    font-weight: 500;
}
.catagories{
    justify-content: center;
    text-align: center;
    cursor: pointer;
    
}
.catagories div{
    padding-top: 30px;
    height: 220px;
}
.cat-title{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom:10px;
    font-weight: 500;
}
.catagory button{
    background-color: #fbfbfa;
    font-size: 50px;
    padding-top: 20px;
}


@media only screen and (max-width: 768px){
    .catagory{
        height: 870px;
    }
    .cat-title{
        font-size: 30px;
    }
    .catagories div{
        height: 220px;
        width: 150px;
        margin-top: 10px;
    }
}

/* *cards section */
.cards-title{
    font-size: 30px;
}

@media only screen and (max-width: 500px){
    .cards-title{
        font-size: 20px;
    }
}

/* *11.11 sale section */
.sale{
    background-color: #958bd5;
    height: auto;
}

.sale-txt{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.sale-txt h1{
    font-size: 100px;
}

/* *footer section */

.footer{
    height: 400px;
    background-color: #0e071b;
}
@media only screen and (max-width: 768px){
    .footer{
        height: auto;
        text-align: center;
    }
    .footer-icon{
        display: none;
    }
    .footicon{
        padding: 20px;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px){
    .footicon{
        display: none;
    }
}

